 <div class="stage">
      <a href="#" class="stage_item js-corporate-trigger">
        <div class="stage_item_inner">
          <div class="stage_item_icon">
            <svg class="i i-corporate">
              <use xlink:href="images/sprite.svg#corporate"></use>
            </svg>
            <span>corporate</span>
          </div>
        </div>
      </a>
      <div class="stage_item-content js-corporate">
        <ul class="stage_list">
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://bauart.ch" target="_blank">bauart.ch</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://www.zermatt-unplugged.ch/" target="_blank">zermatt-unplugged.ch</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://reebokwatches.com/" target="_blank">reebokwatches.com</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://microtec.eu/" target="_blank">microtec.eu</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://www.formeldrei.ch" target="_blank">formeldrei.ch</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://www.spectravest.ch" target="_blank">spectravest</a>
          </li>
          <li>
            <a class="stage_list_link-back js-back" href="#">back</a>
          </li>
        </ul>
      </div>
      <div class="stage_item-content stage_item-experiments js-experiments">
        <ul class="stage_list">
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://fractals.mattinthe.net/" target="_blank">fractals</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://three.mattinthe.net/" target="_blank">3d audio</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://little-boxes.mattinthe.net/" target="_blank">boxes</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://you.mattinthe.net" target="_blank">you</a>
          </li>
          <li class="stage_list_item">
            <a class="stage_list_link" href="http://8r41nfr33z3.mattinthe.net" target="_blank">8r41nfr33z3</a>
          </li>
          <li>
            <a class="stage_list_link-back js-back" href="#">back</a>
          </li>
        </ul>
      </div>
      <a href="#"  class="stage_item js-experiments-trigger">
        <div class="stage_item_inner">
          <div class="stage_item_icon">
            <svg class="i i-experiments ">
              <use xlink:href="images/sprite.svg#experiments"></use>
            </svg>
            <span>experiments</span>
          </div>
        </div>
      </a>

    </div>
